@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%; 

}

img, svg {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 55rem;
    margin: 10rem auto;
    background-color: #1F2937;
}

.inner-section {
    max-width: 47rem;
    margin: 2rem auto;
    padding-bottom: 10rem;

}

.heading {
    background-color: #3A69D2;
    padding: 5rem ;
}

    h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
    }

    .heading p {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 300;
        text-align: center;
    }

.buttons {
    display: flex;
    justify-content: space-between;
}
.service-btn {
    margin: 2rem 0;
    border: none;
    background: #D1D4F4;
    border-radius: 0.5rem;
    padding: 1.5rem 2.5rem;
    color: #4A4E74;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}

.tasks, .amount {
    display: flex;
    justify-content: space-between;
}

.tasks p {
    color: #D5D4D8;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 3rem 0;
}

.amount p {
    color: #D5D4D8;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 1.5rem 0;
}

hr {
    border: none;
    height: 2px;
    background: #C3C6DB;
    margin-top: 2rem;
}

.note {
    display: flex;
    justify-content: space-between;
}

.note-paragraph {
    color: #F5F5F5;
    font-size: 1.1rem;
    font-weight: 300;

}

#total-amount {
    font-size: 3.6rem;
    color: #fff;
    font-weight: 600;
    text-align: right;
}

#send-invoice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3A69D2;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    padding: 1.5rem 0;
    cursor: pointer;
    border-radius: 0.5rem; 
    margin: 4rem 0;
}

    #send-invoice svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }

 .task-container {
     color: #fff;
     display: flex;
     flex-direction: column;
     gap: 1rem;
 }

 .flex {
    display: flex;
    justify-content: space-between;
 }

.services {
    font-size: 2rem;
    font-weight: 700;
}

.dollar {
    font-size: 2.4rem;
    color: #918E9B;
    font-weight: 300;
}

.price {
    font-size: 2.4rem;
    font-weight: 500;
}

.remove {
    color: #D5D4D8;
    font-size: 0.8rem;
    text-decoration: underline;
    margin-left: 1.5rem;
    cursor: pointer;
}

@media(max-width:40rem) {

    html {
            background-color: #1F2937;
    }

    .container {

        margin: 0 auto;
    }
    
    .buttons{
        flex-direction: column;
        align-items: center;
    }

    .service-btn {
        width: 60%;
        margin: 1rem 0;
    }

    .inner-section {
        padding: 0 1rem 10rem 1rem;
    }
    
}